*.pdb

_/O2_Assemblies/O2_FluentSharp_BCL.dll
_/O2_Assemblies/O2_FluentSharp_CoreLib.dll
_/O2_Assemblies/O2_FluentSharp_REPL.dll
/O2_Assemblies/_O2_V4_TempDir
/O2_Assemblies/Resources/Apache.2.0.license.txt
/O2_Assemblies/Resources/O2Logo.ico
/O2_Assemblies/VS_O2_PlugIns
/O2_Assemblies/Resources
/O2_Assemblies/VS_Scripts
/O2_Assemblies/ExtensionMethods